.footer {
  margin: 79px auto 20px;
  padding: 0 70px;
  max-width: 1140px;
}

.footer__text {
  font-size: 13px;
  font-weight: 400;
  line-height: 16px;
  letter-spacing: 0px;
  text-align: center;
  color: #A0A0A0;
  padding: 0 0 20px;
  border-bottom: 1px solid #E8E8E8;
}

.footer__wrap {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.footer__year {
  margin: 0;
  font-size: 13px;
  font-weight: 400;
  line-height: 16px;
  letter-spacing: 0px;
  text-align: left;
}

.footer__links {
  display: flex;
  flex-direction: row;
  gap: 20px;
}

.footer__link {
  text-decoration: none;
  font-size: 13px;
  font-weight: 400;
  line-height: 16px;
  letter-spacing: 0px;
  color: black;
}



@media screen and (min-width: 890px) {
  .footer__link:hover {
    /* cursor: pointer; */
    opacity: 0.7;
    transition: opacity 2s ease;
  }
}

@media screen and (max-width: 890px) {
  .footer {
    padding: 0 30px;
  }
}

@media screen and (max-width: 734px) {
  .footer {
    padding: 0 10px;
    margin-top: 55px;
  }

  .footer__text {
    font-size: 12px;
    font-style: normal;
    line-height: normal;
    padding-bottom: 21px;
    margin-bottom: 35px;
  }

  .footer__wrap {
    flex-direction: column-reverse;
    gap: 30px;
    align-items: center;
  }

  .footer__year {
    color: #A0A0A0;
    font-size: 12px;
    font-style: normal;
    line-height: normal;
  }

  .footer__links {
    flex-direction: column;
    gap: 12px;
    align-items: center;
  }

  .footer__link {
    font-size: 12px;
    font-style: normal;
    line-height: normal;
  }
}