.navtab {
  background-color: black;
  color: #fff;
  padding: 24px 0;
  box-sizing: border-box;

}

.navtab_links {
  margin: 0;
  padding: 0;
  list-style: none;
  display: flex;
  flex-direction: row;
  justify-content: center;
}

.navtab_link {
  margin: 0;
  padding: 0 20px;
  text-decoration: underline;
  font-size: 13px;
  font-weight: 500;
  line-height: 16px;
  letter-spacing: 0px;
  
}